/*body {*/
    /*padding: 50px 80px;*/
    /*font: 14px "Helvetica Nueue", "Lucida Grande", Arial, sans-serif;*/
/*}*/


body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

#chart_div {
    background-color: #00B7FF;
    width: 700px;
    height: 240px;
}